[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "yhatr"]
	path = yhatr
	url = https://github.com/yhat/yhatr
	shallow = true
	registered = true
